#header {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.header_logo {
  display: flex;
  align-items: center;
  color: var(--color-white);
  opacity: 0.5;
  border: 5px solid;
  border-color: var(--color-white);
  margin: 30px 0 10px 24px;
  padding: 22px 35px;
}

.header_navigation {
  display: none;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  z-index: 1000;
  transition: background .5s ease-in-out;
}

.header_menuIcon {
  display: flex;
  align-items: center;
  color: var(--color-white);
  position: fixed;
  width: 100%;
  padding-right: 30px;
  justify-content: flex-end;
  z-index: 1000;
  height: 107px;

}

.header_menuIcon__navigation {
  display: none;
  margin-top: 81px;
  position: absolute;
  right: 10px;
}

.header_menuIcon__navigation > * {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
}

.header_menuIcon__navigation > * > * {
  text-decoration: none !important;
  color: var(--color-white);
  padding: 3px;
  cursor: pointer;
}

.header_menuIcon:hover .header_menuIcon__navigation {
  display: block;
}

.hero_textSection {
  padding-left: 15px;
}

.hero_textSection__buttons--orange {
  background-color: var(--color-white) ;
  color: var(--color-orangeButton) ;
  border: none;
  border-radius: 4px;
  padding: 9px 30px;
  font-size: 15px;
  margin-right: 20px;
}

.hero_textSection__buttons--transparent {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 9px 30px;
  border-radius: 4px;
}

@media screen and (min-width: 677px) and (max-width: 740px) {
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
  }

  .header_logo {
    padding: 28px 56px;
    margin-top: 30px;
    font-size: 25px;
    
  }

  .header_navigation {
    display: flex;
    flex-direction: row;
    height: 30px;
  }

  .header_navigation > * {
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    cursor: pointer;
    color: var(--color-white);
    margin: 5px 5px 5px 5px;
  }

  .header_menuIcon {
    display: none;
  }

  .header_menuIcon__navigation {
    display: none;
  }
}

@media screen and (min-width: 741px) {
  .header_navigation {
    display: flex;
    flex-direction: row;
    height: 40px;
    font-size: larger;
  }

  .header_navigation > * {
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    cursor: pointer;
    color: var(--color-white);
    margin: 5px 5px 5px 5px;
  }

  .header_logo {
    padding: 23px 20px;
    font-size: 23px;
    margin-top: 20px;
  }

  .header_menuIcon {
    display: none;
  }

  .header_menuIcon__navigation {
    display: none;
  }

  @media screen and (min-width: 1260px) {
    .header_logo {
      margin-top: 30px;
      width: 249px;
      margin-left: 80px;
      height: 102px;
      font-size: 61px;
      justify-content: center;
    }

    .header_navigation > * {
      font-size: 1.6rem;
    }
  }
  
}
