#hero {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 250px;
}

.hero_textSection__header {
  padding-bottom: 10px;
  padding-left: 10px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
}

.hero_textSection__text {
  padding-left: 13px;
  color: var(--color-white);
  max-width: 455px;
  font-size: 15px;
}

.hero_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

.hero_textSection__buttons > * {
  margin: 10px;
}

.hero_phoneImage {
  display: none;
  position: absolute;
  height: 762px;
  width: 405px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0;
  top: 240px;
}

.hero_phoneImage__wrapper {
  display: none;
  width: 40%;
  overflow: hidden;
}

@media screen and (min-width: 567px) and (max-width: 599px) {
  .hero_textSection__header {
    padding-bottom: 10px;
    padding-left: 10px;
    color: var(--color-white);
    font-size: 22px;
    font-weight: bold;
  }

  .hero_textSection__text {
    padding-left: 13px;
    color: var(--color-white);
    max-width: 455px;
    font-size: 17px;
  }

  .hero_phoneImage {
    display: flex;
  }

  .hero_phoneImage__wrapper {
    display: flex;
  }
}

@media screen and (min-width: 600px) and (max-width: 740px) {
  .hero_textSection__header {
    padding-bottom: 10px;
    padding-left: 10px;
    color: var(--color-white);
    font-size: 29px;
    font-weight: bold;
  }

  .hero_textSection__text {
    padding-left: 13px;
    color: var(--color-white);
    max-width: 455px;
    font-size: 18px;
  }

  .hero_textSection__buttons {
    display: inline;
    margin: 10px 10px;
  }

  .hero_phoneImage {
    display: flex;
  }

  .hero_phoneImage__wrapper {
    display: flex;
  }
}

@media screen and (min-width: 741px) and (max-width: 859px) {
  #hero {
    margin: 0px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
  }

  .hero_phoneImage {
    display: flex;
    align-items: end;
    position: static;
    /* width: 0px; */
    height: 0px;
    padding-top: 39px;
    padding-left: 74px;
  }

  .hero_phoneImage__wrapper {
    display: flex;
    width: 100%;
    overflow: visible;
  }

  .hero_phoneImage__img {
    width: 251px;
    height: 350px;
  }

  .hero_textSection {
    padding-left: 15px;
    padding-top: 62px;
  }
}

@media screen and (min-width: 860px) and (max-width: 1100px) {
  #hero {
    margin: 0px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero_textSection__header {
    padding-bottom: 10px;
    padding-left: 10px;
    color: var(--color-white);
    font-size: 27px;
    font-weight: bold;
  }

  .hero_textSection__text {
    padding-left: 13px;
    color: var(--color-white);
    max-width: 455px;
    font-size: 15px;
  }

  .hero_phoneImage {
    display: flex;
    align-items: center;
    height: 0px;
    margin-top: 80px;
  }

  .hero_phoneImage__wrapper {
    display: flex;
    width: 100%;
    overflow: visible;
  }

  .hero_phoneImage__img {
    width: 349px;
    height: 400px;
  }

  .hero_textSection {
    padding-left: 15px;
    padding-top: 62px;
  }
}

@media screen and (min-width: 1100px) {
  #hero {
    margin-bottom: 165px;
  }
  
  .hero_textSection {
    padding-left: 50px;
  }
  .hero_textSection__header {
    font-size: 40px;
  }

  .hero_textSection__text {
    max-width: 500px;
    font-size: 19px;
  }

  .hero_phoneImage {
    align-items: end;
    margin-top: -20px;
  }

  .hero_phoneImage__wrapper {
    display: flex;
    width: 100%;
    overflow: visible;
  }

  .hero_phoneImage__img {
    width: 405px;
    height: 500px;
  }
}
