/* wrzucić relative gdy ręka nie będzie pod znakiem */
#howItWorks {
  position: relative;
  z-index: 3;
  background-color: var(--color-white);
  border-radius: 50% 50% 0px 0px;
  -moz-border-radius: 50% 50% 0px 0px;
  -webkit-border-radius: 50% 50% 0px 0px;
  height: 100px;
  width: 100%;
}

.howItWorks_cherry {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.howItWorks_cherry__icon {
  background-color: #ee8209;
  height: 50px;
  width: 50px;
  border-radius: 27%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.howItWorks_content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.howItWorks_info1,
.howItWorks_info4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howItWorks_info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.howItWorks_info3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.howItWorks_info1__img,
.howItWorks_info2__img,
.howItWorks_info3__img,
.howItWorks_info4__img {
  padding: 20px 0px;
  width: 200px;
  height: 300px;
}

.howItWorks_info1__img {
  transform: rotate(-21deg);
}

.howItWorks_info4__img {
  padding-left: 20px;
  transform: rotate(-76deg);
}

.howItWorks_additionalTransform{
  transform: rotate(-25deg);
}

.howItWorks_info__textContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
}

.howItWorks_info__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.howItWorks_info__title > p {
  margin: 0;
  padding-right: 5px;
  font-size: 60px;
  font-family: var(--font-sister);
  color: rgb(255, 146, 37);
  color: linear-gradient(
    180deg,
    rgba(255, 146, 37, 1) 35%,
    rgba(229, 91, 0, 1) 100%
  );
}

.howItWorks_info__title > h3 {
  margin: 0;
  display: flex;
  text-align: left;
  align-items: center;
  font-family: var(--font-sister);
  color: rgb(255, 146, 37);
  color: linear-gradient(
    180deg,
    rgba(255, 146, 37, 1) 35%,
    rgba(229, 91, 0, 1) 100%
  );
  max-width: 240px;
}

.howItWorks_info__text {
  max-width: 440px;
}

.howItWorks__arrowLeft {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.howItWorks_arrow {
  padding: 20px;
}

.howItWorks__arrowOverAndOver {
  -webkit-transform: rotate3d(2, -3, 2, 37deg);
  transform: rotate3d(2, -3, 2, 37deg);
}

.howItWorks_footer {
  font-family: var(--font-sister);
  color: rgb(255, 146, 37);
  color: linear-gradient(
    180deg,
    rgba(255, 146, 37, 1) 35%,
    rgba(229, 91, 0, 1) 100%
  );
  font-size: 30px;
  padding-top: 40px;
  text-align: center;
}

@media screen and (min-width: 567px) and (max-width: 939px) {
  .howItWorks_info__title {
    max-height: 88px;
  }

  .howItWorks_info__title > p {
    font-size: 67px;
  }

  .howItWorks_info__text {
    max-width: 420px;
    font-size: 23px;
  }
}

@media screen and (min-width: 940px) and (max-width: 1259px) {
  .absolutePositionForTextIn_info4 {
    position: absolute;
    top: -163px;
    right: -200px;
  }

  .howItWorks_content {
    position: relative;
  }

  .howItWorks_info1 {
    align-items: flex-start;
    width: 100%;
    height: 299px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .howItWorks_info2 {
    padding-right: 30px;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .howItWorks_info3 {
    width: 100%;
    flex-direction: row;
    justify-content: end;
  }

  .howItWorks_info4 {
    width: 50%;
    align-items: flex-end;
    flex-direction: column-reverse;
    position: relative;
  }

  .howItWorks_info1__img,
  .howItWorks_info2__img,
  .howItWorks_info3__img,
  .howItWorks_info4__img {
    width: 200px;
    height: 360px;
  }

  .howItWorks_info1__imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .howItWorks_info__textContainer {
    width: 300px;
  }

  .howItWorks__arrowRight {
    position: absolute;
    top: 221px;
    right: 313px;
  }

  .howItWorks__arrowLeft {
    position: absolute;
    top: 555px;
    right: 522px;
  }

  .howItWorks__arrowOverAndOver {
    position: absolute;
    bottom: 600px;
    right: 282px;
    transform: rotate3d(2, -3, 2, 38deg);
  }
}

@media screen and (min-width: 1260px) {
  .howItWorks_content {
    padding: 0 20px;
    position: relative;
    padding: 0 88px 88px 88px;
  }

  .howItWorks_content > h1 {
    font-size: 50px;
  }

  .howItWorks_info1__img,
  .howItWorks_info2__img,
  .howItWorks_info3__img,
  .howItWorks_info4__img {
    width: 262px;
    height: 547px;
  }

  .howItWorks_info1 {
    align-items: flex-start;
    width: 100%;
    height: 299px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .howItWorks_info2 {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: -104px;
  }
  .howItWorks_info3 {
    width: 100%;
    flex-direction: row;
    justify-content: end;
    margin-top: -104px;
  }

  .howItWorks_info4 {
    flex-direction: column-reverse;
    position: relative;
    margin-top: -190px;
    margin-left: 173px;
  }

  .absolutePositionForTextIn_info4 {
    position: absolute;
    top: -44px;
    right: -248px;
  }

  .howItWorks_info__title > h3 {
    font-size: 26px;
    width: 197px;
    height: 80px;
  }

  .howItWorks_info__textContainer {
    padding: 20px;
    padding-right: 0px;
  }

  .additional_topPaddingTotextContainer {
    padding-top: 83px;
  }

  .howItWorks_info__text {
    max-width: 300px;
  }
  .howItWorks__arrowRight {
    position: absolute;
    top: 230px;
    right: 434px;
  }

  .howItWorks__arrowLeft {
    position: absolute;
    top: 600px;
    left: 445px;
  }

  .howItWorks__arrowOverAndOver {
    -webkit-transform: rotate3d(2, -3, 2, 23deg);
    transform: rotate3d(2, -3, 2, -5deg);
    position: absolute;
    bottom: 778px;
    right: 471px;
  }
  .howItWorks_footer {
    font-size: 40px;
  }
}
